* {
  margin: 0;
  padding: 0;
  color: #161516;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
#Heading {
  background-color: rgb(18, 19, 19);
  align-items: center;
  font-size: xx-large;
  color: rgb(225, 232, 232);
  display: flex;
  border: #2e0f6c;
  font-style: italic;
  font-family: cursive;
  justify-content: center;
}

.container {
  width: 100%;
  height: 100vh;
  background: #dcb3ce;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(246, 241, 241);
}
.calculator {
  background: #524d4f;
  padding: 20px;
  border-radius: 20px;
  border: 5px solid rgb(246, 241, 241);
}
.calculator form input {
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: -8px -8px 15px rgba(231, 110, 182, 0.84),
    5px 5px 15px rgba(0, 0, 0, 0.639);
  background: transparent;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}
form .display input {
  text-align: right;
  flex: 2;
  font-size: 45px;
  box-shadow: black;
  box-sizing: border-box;
}
form input.equal {
  width: 145px;
}

form input.operator {
  color: #33ffd8;
}
